# Service Config
HOST = localhost
PORT = 4101
LOG = debug
NODE_ENV = 'development'

# Setting to turn on/off console.log
ENABLE_CONSOLE_LOGGING = "ON/OFF"

# Setting to turn on/off bunyan logger service
ENABLE_BUNYAN_LOGGING = "ON/OFF"

APPLICATION_BASE_URL = "/user-management/"

APPLICATION_BASE_HOST = "https://devhome.shikshalokam.org"

AUTHORIZATION = "Server authorization code"
MONGODB_URL = mongodb://localhost:27017
SHIKSHALOKAM_BASE_HOST = "dev.shikshalokam.org"
DB = "sl-assessment"

# For reports generation.
INTERNAL_ACCESS_TOKEN = "Internal access token to access reports"

# Auth Config
sunbird_keycloak_auth_server_url="https://dev.shikshalokam.org/auth"
sunbird_keycloak_realm="sunbird"
sunbird_keycloak_client_id="portal"
sunbird_keycloak_grant_type="password"
sunbird_keycloak_default_user_creation_channel="" // Default channel for users.
# sunbird_keycloak_admin_username="" // Admin username for keycloak
# sunbird_keycloak_admin_password="" // Admin password for keycloak
sunbird_keycloak_public=true
sunbird_cache_store="memory"
sunbird_cache_ttl=1800

# Setting for migrations
MIGRATION_COLLECTION = "migrations"
MIGRATION_DIR = "migrations"

# Slack Configuration
SLACK_COMMUNICATIONS_ON_OFF = "OFF"
SLACK_EXCEPTION_LOG_URL = ""
SLACK_TOKEN = ""
RUBRIC_ERROR_MESSAGES_TO_SLACK = "ON/OFF"

# Disable learner service check
DISABLE_LEARNER_SERVICE_ON_OFF = "OFF"

# Punjab Integration Details
PUNJAB_SERVICE_BASE_URL = "" // Full http path
PUNJAB_SERVICE_KEY = "" // Access Key
PUNJAB_SERVICE_HOST = "" // Host URL
PUNJAB_SERVICE_DEFAULT_PASSWORD = "" // Default Password to create Punjab Users
PUNJAB_SERVICE_DEFAULT_MAIL_DOMAIN = "" // Default mail domain for Punjab Users